In [199]:
import pandas as pd

In [241]:
df = pd.read_csv("adult.data.csv", na_values=['?'])
# df.to_excel("out_df.xlsx", 'w')

In [201]:
race_count = df['race'].value_counts()
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [202]:
mask = df['sex'] == 'Male'
average_age_men = round(df['age'][mask].mean(), 1)
average_age_men

39.4

In [203]:
mask = df['education'] == 'Bachelors'
total_bach = df['education'][mask].count()
total = df['education'].count()
percentage_bachelors = round(total_bach * 100 / total, 1)
percentage_bachelors

16.4

In [204]:
mask1= df['education'] == 'Bachelors'
mask2= df['education'] == 'Masters'
mask3= df['education'] == 'Doctorate'
rich = df['salary'] == '>50K'

higher_education = round(
    df['education']
    [mask1 | mask2 | mask3].count(), 1)

higher_education_rich = round(
    df['education']
    [(mask1 | mask2 | mask3) & rich].count() * 100 / higher_education, 1)

lower_education = round(
    df['education']
    [~(mask1 | mask2 | mask3)].count(), 1)

lower_education_rich = round(
    df['education']
    [~(mask1 | mask2 | mask3) & rich].count() * 100 / lower_education, 1)

print(higher_education)
print(lower_education)
print(higher_education_rich)
print(lower_education_rich)

7491
25070
46.5
17.4

In [205]:
min_work_hours = round(df['hours-per-week'].min(), 1)
min_work_hours

1

In [227]:
mask = df['hours-per-week'] == df['hours-per-week'].min()
num_min_workers = df['hours-per-week'][mask].count()

amt_min_hours_rich = df['hours-per-week'][mask & rich].count()
rich_percentage = round(amt_min_hours_rich * 100 / num_min_workers, 1)

rich_percentage

10.0

In [249]:
rich_amt = df[rich].groupby(['native-country']).size()

total = df.groupby(['native-country'])['salary'].size()
mask_percentage = round(rich_amt * 100/ total, 1)
highest_earning_country = mask_percentage.sort_values(ascending=False)[0]
highest_earning_country_percentage = mask_percentage.sort_values(ascending=False).index[0]

print(highest_earning_country)
print(highest_earning_country_percentage)

41.9
Iran

In [251]:
mask_india = df['native-country'] == 'India'
main_mask = df[mask_india & rich]['occupation'].value_counts()
top_IN_occupation = main_mask.index[0]
top_IN_occupation

'Prof-specialty'